* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 580px;
}

nav {
    display: flex;
    background-color: rgb(20, 157, 61);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    margin: 10px;
    color: rgba(16, 123, 48, 0.989);
}

main img {
    width: 170px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

main p {
    margin-left: 20px;
    margin-bottom: 100px;
    padding: 0;
}



main li {
    margin-left: 10px;
}

aside {
    width: 23rem;
    border: 1px solid rgb(0 0 0 / 0.2 );
    color: #333;
    text-align: center;
    position: relative;
}

aside h2 {
    position: relative;
    top: 30px;
    /*left: 73px;*/
    text-align: center;
    color: goldenrod;
}

aside img {
    width: 300px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

/* ID Selectors */

#temple-list {
    width: 250px;
    height: auto;
}